trusted_cidr  = "0.0.0.0/0"
customer_gateway_primary_ip = "INSERT IP"
primary_remote_destination_cidr = "INSERT IP"
primary_internal_cidr = "INSERT IP"
customer_gateway_secondary_ip = "INSERT IP"
secondary_remote_destination_cidr = "1INSERT IP"
seondary_internal_cidr = "INSERT IP"